/*首页*/
header{
	width:100%;
	height:2.2rem;
	background:#0d0d0d url(../imgs/back.png) no-repeat 0.625rem center;
	background-size:0.5rem 0.825rem;
	line-height:2.2rem;
	text-align:center;
	font-size:0.9rem;
	color:#fff;
	letter-spacing: 0.1rem;
}
nav{
	width:100%;
	height:2.1rem;
	background:#343a45;
	position:relative;
	left:0;
	top:0;
	overflow: hidden;
}
nav>p{
	width:15%;
	height:100%;
	background:url(../imgs/notice.png) no-repeat center center;
	float:left;
	background-size:1.225rem 0.85rem;
}
nav>.swiper-container01{
	margin:0 auto;
	position:relative;
	overflow:hidden;
	z-index:1;
	width:75%;
	height:100%;
	left:-0.5rem;
}	
nav>.swiper-container01 .swiper-slide{
	font-size:0.75rem;
	color:#fff;
	height:100%;
	line-height: 2.1rem;
	text-align: left;
	}
nav>span{
	width:10%;
	height:100%;
	text-align:left;
	line-height: 2.1rem;
	display:block;
	position:absolute;
	right:0;
	top:0;
	background:#28323b url(../imgs/search.png) no-repeat center center;
	background-size:50.6% 42.9%;
	z-index: 99;
	letter-spacing:2px;
}
nav>span.spnbg{
	background:#343a45;
	font-size:0.6rem;
	color:#fff;
}
.nav-inp{
	width:84%;	
	height:2rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
	/*position:absolute;*/
	/*top:0.3rem;*/
	/*left:90%;*/
	z-index: 50;
	background:rgba(81,85,93,0.8);
	/*background:#494e58;*/
	border-radius:1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.nav-inp-img{
	width:0.75rem;
	height:0.75rem;
	margin:0.375rem 0.35rem 0 0.425rem;
	/*float:left;*/
}
.nav-inp>input{
	width:7rem;
	height:1.8rem;
	color:#fff;
	line-height:0.7rem;
	font-size:0.7rem;
    top: -3px;
    position: relative;
	font-family: "microsoft yahei","微软雅黑";
	letter-spacing: 1px;
	border:0;
	outline: none;
	background:transparent;

	/*background:#494e58;*/
}
section{
	width:100%;
	height:21.85rem;
	background:#252a34 url(../imgs/bg.png) repeat-y left -1rem;
	background-size:100%;
	padding-top:1rem;
	/*overflow:hidden;*/
}
section>p{
	width:100%;
	text-align: center;	
	margin-bottom: 0.75rem;
}
section>p>a{
	padding:0 0.85rem;
	font-size: 0.7rem;
	color:#fff;
	border-right:1px #51555d solid;
}
.colorblue{
	color:#1199fb;
}
section>p>a.last-a{
	border-right:0px;
}
.section-banner{
	width:100%;
	height:20.3rem;
	position: relative;
	left:0;
	top:0;
}
.banner{
	width:100%;	
	height:20.3rem;
	margin:0 auto;
	overflow: hidden;	
	position: relative;
	top:0;
	left:0;
	overflow: hidden;
}
.banner>img{
	width:100%;	
	/*height:15.4rem;*/
	border-radius:5px 5px 0 0;
}
.banner>div{
	height:5.9rem;
	width:100%;
	padding:0.65rem;
	background:#fbb60e;
	position: absolute;
	bottom: 1.5rem;
	left:0;
	color:#fff;
	border-radius:0 0 5px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	overflow: visible;
}
.banner>div>h4{
	font-weight:normal;
	font-size: 0.9rem;
	height:1rem;
	text-align: left;
}
.banner>div>h4>span{
	font-size: 0.6rem;
	padding-left: 0.45rem;
	text-align: left;
}
.banner>div>p{
	font-size: 0.7rem;
	height:2rem;
	line-height: 1rem;
	text-align: left;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom:0.3rem;
}
.banner>div>div{
	text-align: left;
}
.banner>div>div>em{
	font-size: 0.65rem;
	font-style: normal;
	height:1.45rem;
	line-height: 1.45rem;
	background:url(../imgs/heart.png) no-repeat left center;
	background-size: 0.65rem 0.575rem;
	padding-left:1rem;
	text-align: left;
}
.banner>div>div>i{
	float:right;
	width:3.5rem;
	height:1.45rem;
	font-size: 0.65rem;
	font-style: normal;
	color:#fbbb2c;
	border-radius: 0.7rem 0.7rem;
	background:#fff;
	text-align: center;
	line-height: 1.45rem;
}
.banner>div>span.cup01{
	width:1.9rem;
	height:2.375rem;
	display:block;
	background:url(../imgs/cup02.png) no-repeat center center;
	background-size:110% 100% ;
	position:absolute;
	top:-1.2175rem;
	right:6.7%;
}
.banner>div>span.cup02{
	width:1.9rem;
	height:2.375rem;
	display:block;
	background:url(../imgs/cup1.png) no-repeat center center;
	background-size:100% 100% ;
	position:absolute;
	top:-1.2175rem;
	right:6.7%;
}
.banner>div>span.cup03{
	width:1.9rem;
	height:2.375rem;
	display:block;
	background:url(../imgs/cup03.png) no-repeat center center;
	background-size:110% 100%;
	position:absolute;
	top:-1.2175rem;
	right:6.7%;	
}
.banner>div>b.good{
	display:block;
	width:100%;
	height:380%;
	background:#a5723e;
	opacity: 1;
	position:absolute;
	top:-280%;
	left:0;
	border-radius: 5px;
	z-index: 99999;
}
.banner>div>b.better{
	display:block;
	width:100%;
	height:380%;
	background:#babfc6;
	opacity: 1;
	position:absolute;
	top:-280%;
	right:0;
	border-radius:5px;
	z-index: 99999;
}
.banner>div>b.best{
	display:block;
	width:100%;
	height:380%;
	background:#febe17;
	opacity: 1;
	position:absolute;
	top:-280%;
	right:0;
	border-radius:5px;
	z-index: 99999;
}
article{
	width:100%;
	background:#2c323f;
	padding-top:3.925rem;
	overflow: hidden;
}
article>dl{
	width:16.225rem;
	height:6.95rem;
	margin:0 auto 0.625rem;
	border-radius:5px;
	background:#35404a;
	overflow: hidden;
}
article>dl>dt{
	width:38.3%;
	height:100%;
	float:left;
}
article>dl>dt>img{
	width:100%;
	/*height:100%;*/
}
article>dl>dd{
	width:61.7%;
	float:left;
	color:#fff;
	padding:0 0.575rem 0 0.675rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
article>dl>dd>h4{
	font-size: 0.7rem;
	font-weight:normal;
	height:1.7rem;
	line-height:1.7rem;
	margin-top:0.2rem;		
}
article>dl>dd>h4>span{
	font-size: 0.5rem;
	padding-left: 0.4rem;
}
article>dl>dd>p{
	font-size: 0.6rem;
	line-height: 0.875rem;
	height:1.6rem;
	margin-bottom: 1.07rem;	
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
article>dl>dd>div>em{
	font-size: 0.6rem;
	font-style: normal;
	height:1.65rem;
	line-height: 1.65rem;
	background:url(../imgs/heart.png) no-repeat left center;
	background-size: 0.6rem 0.5rem;
	padding-left:1rem;
}
article>dl>dd>div>i{
	float:right;
	width:3.5rem;
	height:1.45rem;
	font-size: 0.65rem;
	font-style: normal;
	border-radius: 0.7rem 0.7rem;
	background:#2876b2;
	text-align: center;
	line-height: 1.45rem;
}


.imgtop{
    float: right;
    margin-top: -1.25rem;
    margin-right: 1rem;
    height: 0.35rem;
}
.bg_pic{
	width:100%;
	height:18.5rem;
	background:#252a34 url(../imgs/bg_pic.png) repeat-y left -1rem;
	background-size:100%;
	padding-top:1rem;
}
.header_per{
	margin: auto;
	height: 7rem;
	width: 7rem;
	margin-top: 3.25rem;
	
}

/*幸运榜 win*/
.win-box{
	width:100%;
	background:url(../imgs/bg00.png) repeat;
	overflow: hidden;
}
.win-bg{
	width:100%;
	height:17.6rem;
	background:url(../imgs/bg01.png) no-repeat top left;
	background-size:cover;	
}
.win-list01{
	width:86.7%;
	height:23.5rem;
	margin:0 auto 0.95rem;
	border-radius:5px;
	background:#fff;
	padding:0.75rem 1.05rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.win-list01>div{
	height:2rem;
	overflow: hidden;
}
.win-list-left{
	width:30%;
	height:2rem;
	background:url(../imgs/line.png) repeat-x left center;
	float:left;	
}
.win-list-right{
	width:30%;
	height:2rem;
	background:url(../imgs/line.png) repeat-x left center;
	float:right;	
}
.win-list-center{
	width:38%;
	height:2rem;
	float:left;
	margin-left:1%;
}
.win-list-center>h4{
	width:100%;
	text-align: center;
	font-size: 0.9rem;
	color:#2876b2;
}
.win-list-center>p{
	width:100%;
	text-align: center;
	font-size: 0.6rem;
	color:#7eadd1;
}
.win-list01>ul{
	width:100%;
}
.win-list01>ul>li{
	width:87%;
	height:2.975rem;
	border-bottom:1px solid #e5e5e5;
	position:relative;
	left:0;
	top:0;
	padding-top:1rem;
}
.win-list01>ul>li:last-child{
	border-bottom:none;
}
.win-img-left{
	width: 2.1rem;
    border-radius: 1.05rem;
    height: 2.1rem;
    float: left;
}
.win-list01>ul>li>p{
	width:78%;
	height:1.15rem;
	line-height: 1.15rem;
	font-size:0.55rem;
	color:#979da3;
	float:left;
	margin-left:2%;
	white-space: nowrap;
}
.win-list01>ul>li>p>b{	
	font-size:0.65rem;
	color:#323436;
	padding:0 6px;
	white-space: nowrap;
}
.win-list01>ul>li>h6{
	width:78%;
	float:left;
	font-size:0.55rem;
	font-weight:normal;
	color:#ff4848;
	margin-left:2%;
}
.win-img-right{
	width:2.5rem;
	height:3.3rem;
	position: absolute;
	top:0.3rem;
	right:-1.3rem;
}

/*大转盘*/
.wheel-box{
	width:100%;
	background:url(../imgs/bg00.png) repeat;
	overflow: hidden;
}
.wheel-bg{
	width:100%;
	height:28.25rem;
	background:url(../imgs/bg02.png) no-repeat top left;
	background-size:cover;
	position: relative;
	top:0;
	left:0;	
}
.wheel-img{
	width:15.375rem;
	height:15.375rem;
	display:block;
	position: absolute;
	left:50%;
	top:9.7rem;
	margin-left:-7.6875rem;
	z-index: 9;
}
.wheel-point{
	width:3.8rem;
	height:3.8rem;
	background:url(../imgs/point.png) no-repeat left center;
	background-size: 100% 100%;
	position: absolute;
	left:50%;
	top:15.486rem;
	margin-left:-1.9rem;
	z-index: 99;
}
.wheel-point-img{
	width:0.875rem;
	height:1.65rem;
	position: absolute;
	left:1.4625rem;
	top:-1.65rem;
}
.wheel-footer{
	width: 86.7%;
    margin: 4.6rem auto 1.35rem;
    height: 15.25rem;
    background: #e3a30d;
    border-radius: 5px;
    overflow: hidden;
    padding: 3.2rem 1.05rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wheel-footer>div{
	overflow: hidden;
}
.wheel-footer>div>h4{
	width:32%;
	height:2.2rem;
	margin-left:2%;
	color:#fff;
	line-height:2.2rem;
	text-align: center;
	font-size:0.9rem;
	float:left;
}
.wheel-footer-left{
	width:32%;
	height:2.2rem;
	background:url(../imgs/wheel-line.png) repeat-x left center;
	float:left;
}
.wheel-footer-right{
	width:32%;
	height:2.2rem;
	background:url(../imgs/wheel-line.png) repeat-x left center;
	float:right;
}
.wheel-footer>p{
	font-size:0.7rem;
	height:3rem;
	width:100%;
	color:#fff;
}
.wheel-p{
	margin-bottom:0.75rem;
}
@keyframes myfirst
{
   0%{transform:rotate(0deg)}
   100%{transform:rotate(1800deg)}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(1800deg)}
}
.rotate01{
	-webkit-animation: myfirst 3s ease-out;/* Safari and Chrome */
    -moz-animation: myfirst 3s ease-out; 
    -ms-animation:myfirst 3s ease-out;
    -o-animation:myfirst 3s ease-out;
    animation:myfirst 3s ease-out;
}
.bground{
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
	filter:alpha(opacity=50);
	position: fixed;
	top:0;
	left:0;
	z-index:99;
	display:none;
}
.out01,.out03{
	width:86.7%;
	height:19.25rem;
	position: fixed;
	top:6.6rem;
	left:6.65%;
	z-index: 100;
	border-radius:10px;
	background:#fff;
	overflow: hidden;
	display: none;
}
.out01-top{
	width:100%;
	height:12.75rem;
	background:url(../imgs/winbg01.jpg) no-repeat left center;
	background-size: 100% 100%;
	padding:0.8rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.out01-top>span{
	width:0.65rem;
	height:0.65rem;
	float:right;
	background:url(../imgs/close.png) no-repeat left center;
	background-size: 100% 100%;
}
.out01-top>h5{
	width:100%;
	height:1.5rem;
	text-align: center;
	line-height:1.5rem;
	font-size: 0.9rem;
	color:#5c3b1a;
}
.out01-top>img{
	width:11.08rem;
	height:7.38rem;
	display:block;
	margin:0.8rem auto 0;
}
.out01-bottom{
	width:100%;
	height:6.5rem;	
}
.out01-bottom>p{
	width:11.13rem;
	text-align: center;
	margin:0.625rem auto 0.5rem;
	color:#85878c;
	font-size: 0.7rem;
	line-height:1rem;
}
.out01-bottom>div{
	width:10.95rem;
	height:2rem;
	text-align: center;
	line-height:2rem;
	background:#2876b2;
	color:#fff;
	border-radius:1rem;
	font-size:0.75rem;
	margin:0 auto;
}
.out02{
	width:86.7%;
	height:22.2rem;
	position: fixed;
	top:4.55rem;
	left:6.65%;
	z-index: 100;
	border-radius:10px;
	background:#fff;
	overflow: hidden;
	display: none;
}
.out02-top{
	width:100%;
	padding:0.8rem;
	margin-bottom:0.7rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}
.out02-top>span{
	width:0.65rem;
	height:0.65rem;
	float:right;
	background:url(../imgs/close.png) no-repeat left center;
	background-size: 100% 100%;
}
.out02-top>h5{
	width:100%;
	height:1.5rem;
	text-align: center;
	line-height:1.5rem;
	font-size: 0.9rem;
	color:#343a45;
}
.out02-top>.out02-top-img{
	width:10rem;
	height:7rem;
	margin:0.5rem auto 0;
}
.out02-top>p{
	width:100%;
	color:#fdb60e;
	font-size:0.7rem;
	text-align: center;
}
.out02-bottom{
	
}
.out02-bottom>p{
	width:10.9rem;
	height:0.6rem;
	line-height:0.6rem;
	background:url(../imgs/icon-d.png) no-repeat left center;
	background-size: 0.6rem 0.6rem;
	padding-left:1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color:#71757c;
    font-size:0.6rem;
    margin:0 auto 0.5rem;
}
.out02-bottom-inp1{
	width:10.9rem;
	height:2rem;
	line-height:1.8rem;
	border:1px solid #dfdfdf;
	border-radius:1rem;
	margin:0 auto 0.5rem;
	background:url(../imgs/winicon02.png) no-repeat 5.5% center;
	background-size:0.75rem 0.75rem;
	padding-left:2.1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.out02-bottom-inp1>input,.out02-bottom-inp2>input{
	width:7rem;
	height:0.95rem;
	font-size:0.75rem;
	border:0;
	outline: none;
}
.out02-bottom-inp2{
	width:10.9rem;
	height:2rem;
	line-height: 1.8rem;
	border:1px solid #dfdfdf;
	border-radius:1rem;
	margin:0 auto 1rem;
	background:url(../imgs/winicon03.png) no-repeat 7% center;
	background-size:0.55rem 0.8rem;
	padding-left:2.1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.out02-bottom-inp3{
	width:10.9rem;
	height:2rem;
	background:#2876b2;
	color:#fff;
	text-align: center;
	line-height: 2rem;
	font-size:0.75rem;
	border-radius: 1rem;
	margin:0 auto;
}
/*search 页面*/
.search-inp{
	width:84%;	
	height:1.5rem;
	margin:0.3rem 0 0 3%;
	z-index: 50;
	background:#494e58 ;
	border-radius:0.7rem 0.7rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.search-inp>input{
	width:11.5rem;
	height:0.7rem;
	color:#fff;
	line-height:0.7rem;
	font-size:0.6rem;
	font-family: "microsoft yahei","微软雅黑";
	letter-spacing: 1px;
	border:0;
	outline: none;
	background:#494e58;
}
nav>b{
	width:10%;
	height:100%;
	text-align:left;
	line-height: 2.1rem;
	font-family: "microsoft yahei", "微软雅黑";
	display:block;
	position:absolute;
	right:0;
	top:0;
	background:#343a45;
	background-size:50.6% 42.9%;
	z-index: 99;
	letter-spacing:2px;
	font-size:0.6rem;
	color:#fff;
	font-weight: normal;
}
.search-div{
	overflow: hidden;
}
.search-none{
	width:7.4rem;
	height:7.4rem;
	display: block;
	margin:0 auto;
	margin:4.375rem auto 0.75rem;
}
.search-div>p{
	width:100%;
	font-size:0.6rem;
	color:#acadb0;
	text-align: center;
}
.swiper-container {
	        width: 100%;
	        height:100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 300px;
}
/*投票成功 弹窗*/
.word{
	padding: 0 2.7rem;
	text-align: center;
	white-space: normal;
	color:#a9aaac;
	font-size: 0.8rem;
}
.word .word_01{
	color: #fff;
	line-height: 2rem;
	font-size: 1rem;
}
.word .word_02{
	font-size: 0.8rem;
}
.noreplay-box{
    width: 100%;
    height: 100%;
    background-color: #0c1013;
   	opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.noreplay-model,
.noreplay-model01{
    position: fixed;
    width: 90%;
    margin-left: 5%;
    top: 30%;
    border-radius: 10px;
    z-index: 999;
    display: none;
}
.noreplay-model img,
.noreplay-model01 img{
	width: 100%;
	height: 10rem;
}    
.word .a{
    font-size: 0.8rem;
    color: #343a45;
}
.word .b{
	font-size: 0.7rem;
}
.noreplay-model .win-button1,
.noreplay-model01 .win-button1{
    width: 80%;
    height: 2.5rem;
    margin-left: 10%;
    margin-top: 3%;
}
.noreplay-model .win-button2{
    float: right;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 999;
    margin-top: -4.5rem;
}
