/*报名 和填写资料*/

.login_bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:url("../imgs/mxr-imgs/baoming_bg.png") center  center no-repeat;
    background-size: cover;

}
.login_btn{
    width: 90%;
    height: 2.4rem;
    margin-left:5% ;
    position: absolute;
    left: 0;
    bottom: 9rem;
}
.login_btn button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fdb60e;
    border-radius: 1.2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}
.baoming_btn{
    width: 90%;
    height: 2.4rem;
    margin-left:5% ;
    position: absolute;
    left: 0;
    bottom: 13rem;
}
.baoming_btn button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #2d77b0;
    border-radius: 1.2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}
.baoming_info_bg{
    width: 100%;
    height: 100%;
    padding: 3rem 1rem 1.5rem;
    background:url("../imgs/mxr-imgs/baoming_ziliao_bg.png") no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.baoming_box{
    width: 100%;
    padding: 2rem 1.5rem .5rem;
    background: url("../imgs/mxr-imgs/baoming_box.png") no-repeat top center;
    background-size: 100% 100%;
    box-sizing: border-box;
}
.login_title{
    font-size: .8rem;
    font-weight: bold;
    color: #323436;
}
.login_input{
    width: 100%;
    height: 2rem;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 0 1rem;
    margin: .5rem 0 1rem;
    box-sizing: border-box;
    outline: none;
}
.baoming_btn2{
    width: 90%;
    height: 2.4rem;
    margin: 1.5rem auto 0;
}
.baoming_btn2 input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #2d77b0;
    border-radius: 1.2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}
.need{
    font-size: 1rem;
    color: #f25928;
    display: inline-block;
    margin-right: .3rem;
}
.notneed{
    font-size: 1rem;
    color: #c4c4c4;
    display: inline-block;
    margin-right: .3rem;
}

#imageList{
    margin: .5rem 0 1rem;
}
.z_file {
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 1px dotted #e6e6e6;

    border-radius: 3px;
    background: url("../imgs/mxr-imgs/plus.png") no-repeat center;
}
.z_file .add-img {
    text-align: center;
    line-height: 5rem;
    font-size: 40px;
    width: 100%;

}
.z_file #uploadFile {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
/* 重置安卓Pad下面input焦点状态白底的样式 */
input{
    -webkit-user-modify: read-write-plaintext-only;
    /*   -webkit-tap-highlight-color:#3072af;*/
}


.hide{
    display: none!important;
}
.dialog-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
    color: #ffffff;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    z-index: 10000;
}
.dialog-window {
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.6);
    -webkit-transition: all 0.3s cubic-bezier(0.46, 0.12, 0.44, 1.46);
}
.dialog-content {
    padding: 10px 10px 0;
    text-align: center;
    font-size: .8rem;
}
.dialog-footer {
    padding: 10px 10px 0;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.dialog-footer button {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: .8rem;
    margin: 3px;
    color: #000000;
    width: 8rem;
    height: 1.6rem;
    font-size: .8rem;
    letter-spacing: 3px;
}
.dialog-header{
    width: 4rem;
    height: 4rem;
    margin: 0 auto;

    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.dialog-header img{
    width: 100%;

}
.info_box{
    position: relative;
}
.tip{
    position: absolute;bottom: 0;
    left: 0;
    font-size: .6rem;
    color: red;
    padding-left: 1rem;
}