/*首页*/
header{
	width:100%;
	height:2.2rem;
	background:#0d0d0d url(../imgs/back.png) no-repeat 0.625rem center;
	background-size:0.5rem 0.825rem;
	line-height:2.2rem;
	text-align:center;
	font-size:0.9rem;
	color:#fff;
	letter-spacing: 0.1rem;
}

section{
	width:100%;
	height:23.85rem;
	background:#252a34 url(../imgs/bg.png) repeat-y left -1rem;
	background-size:100%;
	padding-top:1rem;
}
section>p{
	width:100%;
	text-align: center;	
	margin-bottom: 0.75rem;
}
section>p>a{
	padding:0 0.85rem;
	font-size: 0.7rem;
	color:#fff;
	border-right:1px #51555d solid;
}
.colorblue{
	color:#1199fb;
}
section>p>a.last-a{
	border-right:0px;
}
.section-banner{
	width:100%;
	height:21.3rem;
	position: relative;
	left:0;
	top:0;
}
.banner{
	width:100%;	
	height:21.3rem;
	margin:0 auto;
	overflow: hidden;	
	position: relative;
	top:0;
	left:0;
	overflow: hidden;
}
.banner>img{
	width:100%;	
	height:15.4rem;
	border-radius:5px 5px 0 0;
}
.banner>div{
	height:5.9rem;
	width:100%;
	padding:0.65rem;
	background:#fbb60e;
	position: absolute;
	bottom: 0;
	left:0;
	color:#fff;
	border-radius:0 0 5px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	overflow: visible;
}
.banner>div>h4{
	font-weight:normal;
	font-size: 0.9rem;
	height:1rem;
	text-align: left;
}
.banner>div>h4>span{
	font-size: 0.6rem;
	padding-left: 0.45rem;
	text-align: left;
}
.banner>div>p{
	font-size: 0.7rem;
	height:2rem;
	line-height: 2rem;
	text-align: left;
}
.banner>div>div{
	text-align: left;
}
.banner>div>div>em{
	font-size: 0.65rem;
	font-style: normal;
	height:1.45rem;
	line-height: 1.45rem;
	background:url(../imgs/heart.png) no-repeat left center;
	background-size: 0.65rem 0.575rem;
	padding-left:1rem;
	text-align: left;
}
.banner>div>div>i{
	float:right;
	width:3.5rem;
	height:1.45rem;
	font-size: 0.65rem;
	font-style: normal;
	color:#fbbb2c;
	border-radius: 0.7rem 0.7rem;
	background:#fff;
	text-align: center;
	line-height: 1.45rem;
}
.banner>div>span.cup{
	width:1.9rem;
	height:2.375rem;
	display:block;
	background:url(../imgs/cup1.png) no-repeat center center;
	background-size:100% 100% ;
	position:absolute;
	top:-1.2175rem;
	right:6.7%;
}
.banner>div>b.bleft{
	display:block;
	width:100%;
	height:380%;
	background:#bf8846;
	position:absolute;
	top:-280%;
	left:0;
	opacity: 0.9;
	filter:alpha(opacity=90);
	border-radius: 5px;
}
.banner>div>b.bright{
	display:block;
	width:100%;
	height:380%;
	background:#babfc6;
	position:absolute;
	top:-280%;
	right:0;
	opacity: 0.9;
	filter:alpha(opacity=90);
	border-radius:5px;
}
article{
	width:100%;
	background:#2c323f;
	padding-top:0.925rem;
	overflow: hidden;
}
article>dl{
	width:16.225rem;
	height:6.95rem;
	margin:0 auto 0.625rem;
	border-radius:5px;
	background:#35404a;
}
article>dl>dt{
	width:38.3%;
	height:100%;
	float:left;
}
article>dl>dt>img{
	width:100%;
	height:100%;
}
article>dl>dd{
	width:61.7%;
	float:left;
	color:#fff;
	padding:0 0.575rem 0 0.675rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
article>dl>dd>h4{
	font-size: 0.7rem;
	font-weight:normal;
	height:1.7rem;
	line-height:1.7rem;
	margin-top:0.2rem;		
}
article>dl>dd>h4>span{
	font-size: 0.5rem;
	padding-left: 0.4rem;
}
article>dl>dd>p{
	font-size: 0.6rem;
	line-height: 0.875rem;
	height:2.67rem;
}
article>dl>dd>div>em{
	font-size: 0.6rem;
	font-style: normal;
	height:1.65rem;
	line-height: 1.65rem;
	background:url(../imgs/heart.png) no-repeat left center;
	background-size: 0.6rem 0.5rem;
	padding-left:1rem;
}
article>dl>dd>div>i{
	float:right;
	width:3.5rem;
	height:1.45rem;
	font-size: 0.65rem;
	font-style: normal;
	border-radius: 0.7rem 0.7rem;
	background:#2876b2;
	text-align: center;
	line-height: 1.45rem;
}


.imgtop{
    float: right;
    margin-top: -1.25rem;
    margin-right: 1rem;
    height: 0.35rem;
}
.bg_pic{
	width:100%;
	height:19.5rem;
	background:url(../imgs/banner.png) repeat left;
	background-size:100% 100%;
	padding-top:1rem;
	position: relative;
	top:0;
	left:0;
}
.bg_pic_opacity{
	background:rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
}
.bg_pic-content{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 99;
}
.bg_top{
	height:8.5rem;
}

.bg_pic .bg_left{
	width: 30%;
	color: #fff;
	text-align: center;
    position: absolute;
    top:23%;
    left:0;
}
.bg_pic .bg_right{
	width: 30%;
	color: #fff;
	text-align: center;
    position: absolute;
    top:23%;
    right:0;
}
.bg_left p{
	/*font-size: 0.8rem;*/
}
.header_per{
	display: block;
	height: 7rem;
	width: 7rem;
	margin: 2.3rem auto;
	border-radius: 3.7rem;
	border:0.2rem rgba(255,255,255,0.5) solid;
}
.word{
	padding: 0 2.7rem;
	text-align: center;
	white-space: normal;
	color:#a9aaac;
	font-size: 0.8rem;
}
.word .word_01{
	color: #fff;
	line-height: 2rem;
	font-size: 1rem;
}
.word .word_02{
	font-size: 0.8rem;
}
.icon-a{
	float: left;
	width: 24%;
	margin-left: 38%;
	margin-top: 1rem;
}
.swiper-container {
    width: 100%;
    height: 11rem;
    padding:1rem 0;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	background: #252a34 url(../imgs/xiangqing_bg.png) repeat-x left;	
}  
.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide>img{
	width:100%;
	height:100%;
}
.bg_left{
	float: left;
}
.list_a{
	padding: 2.2rem 1.1rem; background: #2c323f;color: #fff;float: left;
}

.list_a div img{
	margin-top: 0.2rem; float: left;
}
.list_a_1{
    margin-left: 2.7rem;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}
.list_a_2{
    float: left;
    margin-top: 0.5rem;
    font-size: 0.7rem; 
    width: 100%;
}
.list_b{
	width: 100%;margin-top: 1rem;margin-bottom: 1rem;float: left;
}
/*.video{
	margin-top: 5%;margin-bottom: 3%; background: #2c323f;
}
.video_a{
    margin-left: 2%;
    width: 96%;
}
.video_b{
	float: left;
    margin-left: 5%;
    height: 1rem;
    width: 1rem;
}
.video p{
    float: left;
    margin-left: 2%;
    color: #fff;
    font-size: 0.9rem;
}*/
video{
    margin-top: 5%;
    margin-bottom: 4%;
    width: 96%;
    margin-left: 2%;
    position: relative;
    z-index: 10;
}
.video_b{
	float: left;
    margin-left: 5%;
    height: 1rem;
    width: 1rem;
}
.wifi{
	float: left;
    margin-left: 2%;
    color: #fff;
    font-size: 0.9rem;
}
.img_c{
	width: 90%;margin-left: 5%;margin-top:5%;margin-bottom: 8%;
}
.leave_list{
	padding: 3rem 1.1rem 1.1rem;background: #2c323f;color: #fff;float: left;text-align: center;
}
.leave_list span{
    font-size: 0.9rem;
}
.leave_list img{
	float: left;
    width: 33%;
    height: 1px;
    margin-top: 0.65rem;
    border-radius: 1.05rem;
}

.leave_list ul{
	margin-left: 2%;margin-top: 2%; text-align: left;float: left;
}
.li_a{
	color: #acadb0;
    font-size: 0.75rem;
    line-height: 1.35rem;
    white-space: nowrap;
}
.li_b{
    font-size: 0.75rem;
    line-height: 1.35rem;
}
.li_c{
    color: #6a6d74;
    font-size: 0.65rem;
    line-height: 1.35rem;
}
.input_a{
    float: left;
    line-height: 22px;
    border: 1px solid #959595;
    font-size: 0.75rem;
    padding-left: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line_b{
	width: 84%;margin-left: 15%;
}
.line_c{
	width: 84%;margin-left: 15%;
}
.input_a{
    background: url(../imgs/icon-g.png)20px no-repeat;
    background-color: #fff;
    background-size: 1rem;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-left: 5%;
    width: 60%;
}
.send{
    color: #fff;
    float: left;
    width: 10%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 1.25em;
    margin-left: 3%;
}
.leave_list_a .touxiang_a{
	width:2.1rem;
	height:2.1rem;
	border-radius:1.05rem;
}
.leave_list_b .touxiang_a{
	width:2.1rem;
	height:2.1rem;
	border-radius:1.05rem;
	float: left;
}
.leave_list_b ul{
	margin-left: 2%;
	margin-top: 2%; 
	text-align: left;
	float: left;
}
.leave_list_b .li_01,
.leave_list_a .li_01{
    color: #acadb0;
    font-size: 0.75rem;
    line-height: 1.35rem;
}

.leave_list_b .li_02,
.leave_list_a .li_02{
    font-size: 0.75rem;
    line-height: 1.35rem;
}
.leave_list_b .li_03,
.leave_list_a .li_03{
    color: #6a6d74;
    font-size: 0.65rem;
    line-height: 1.35rem;
}
.number{
	float: right;
    color: #6a6d74;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    font-size: 0.7rem;
}
.leave_list_a div .icon_shoushi,.leave_list_b div .icon_shoushi{
    float: right;
    height: 0.6rem!important;
    width: 0.6rem!important;
}
.noreplay-box{
    width: 100%;
    height: 100%;
    background-color: #0c1013;
   	opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.noreplay-model{
    position: fixed;
    width: 90%;
    margin-left: 5%;
    top: 30%;
    border-radius: 10px;
    z-index: 999;
    display: none;
}
.noreplay-model img{
	width: 100%;
	height: 10rem;
}    
.word .a{
    font-size: 0.8rem;
    color: #343a45;
}
.word .b{
	font-size: 0.7rem;
}
.noreplay-model .win-button1{
    width: 80%;
    height: 2.5rem;
    margin-left: 10%;
    margin-top: 3%;
}
.noreplay-model .win-button2{
    float: right;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 999;
    margin-top: -4.5rem;
}
.noreplay-show{
    position: fixed;
    width: 69%;
    margin-left: 18%;
    top: 18%;
    border-radius: 10px;
    z-index: 999;
    display: none; 
}
.noreplay-show .win-show{
	width: 100%;
}
.noreplay-show .win-yea{
	width: 80%;
    margin-left: 6%;
    margin-top: 100%;
}

.noreplay-model01,
.noreplay-model02{
    position: fixed;
    width: 90%;
    margin-left: 5%;
    top: 30%;
    border-radius: 10px;
    z-index: 999;
   /* display: none;*/
}

.noreplay-model01 img,
.noreplay-model02 img{
	width: 100%;
	height: 10rem;
}  

.noreplay-model01 .win-button1,
.noreplay-model02 .win-button1{
    width: 80%;
    height: 2.5rem;
    margin-left: 10%;
    margin-top: 3%;
}
.noreplay-model02 .word .a{
	margin-top: 1rem;
}
