@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	font-family:"microsoft yahei", "微软雅黑";
    background-color: #252a34;
    overflow:auto;
}
ol, ul { 
	list-style: none; 
	}
em,i,b{
	font-style:normal;
	}
a img { 
	border: none; text-decoration:none; 
	}
input,button{
	outline: none;
}
