
.wheelcontain {
    position: relative;
    margin-top: -5rem;
    width: 15.5rem; 
    height: 15.5rem!important;
    z-index: 100;
}
.wheel-box-bg{
	width:100%;
	height:28.35rem;
	background:url(../imgs/bg02.png) no-repeat top left;
	background-size:cover;
	position: absolute;
	top:0;
	left:0;	
}
.arrow-img {	
    width: 5.1rem;
    height:5.1rem;
    -webkit-transition: -webkit-transform 3.4s;
    transition: transform 3.4s;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0, .95, .33, 1);
    transition-timing-function: cubic-bezier(0, .95, .33, 1);
}
.rotate {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 4rem;
    left:10%;    
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../imgs/wheel01.png);
}

.rotate.active {
    background-image: url(../imgs/wheel02.png);
}

.rotate-cont {
    position: relative;
}

.rotate-arrow, .rotate-arrow-text {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;

}

.rotate-cont table {
    width: 100%;
    height: 100%;
}

.rotate-cont table td {
    text-align: center;
    vertical-align: middle;
}

.rotate-arrow-text {
    z-index: 2;
}

.rotate-arrow-text img {
    width: 16%;
}

